body{
  background-image: url("../images/bground.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: contain;


}

.jumbotron{
	text-align: center;
	margin-bottom: 50%;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	opacity: 0.9;
	padding-bottom: 5%;
}

.navbar-brand{
	font-family: Impact, Charcoal, sans-serif;	
}

.carousel .item {
	margin-left: 36%;
	margin-right: 30%
}



.carousel-indicators{

	bottom: -2.5em;

	
}

.carousel-indicators .active{
	background-color:#990;
}


.carousel-inner{
	margin-bottom:50px;
}

#aboutCyclist{
	display: inline-block;
	text-align: center;
}

#aboutText{
	display: inlline-block;
	text-align: left;
}